h3 {
    color: #48acd7;
    animation: slideInFromLeft 1s ease;
}

p {
    color: #093c74;
    animation: fadeIn 1.5s ease;
}

.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    animation: fadeIn 1s ease;
}

.about-card {
    width: 45rem;
    margin: 5px;
    border-color: #5da2ec;
    border-width: 2px;
    opacity: 0;
    animation: fadeInUp 1.5s ease forwards;
}

.card-header {
    color: #093c74;
    animation: fadeIn 1s ease;
}

.card-title {
    color: #48acd7;
    animation: fadeIn 1s ease;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
