.custom-nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifa;
    color: #618ab7;
    font-size: large;
}
.cool-aid-logo {
    color: #093c74;
    font-size: xx-large;

}
